.ts-dropdown {
  max-height: 600px;
  overflow-y: auto;
}

.edit-country-form {
  margin: auto;
  padding: 10px;
  width: 80%;
}

// .edit-country-form .form-control {
//   margin: 0;
//      input {
//       width: 80%;
//       height: fit-content;
//       inline-size: fit-content;
//       block-size: fit-content;
//      }
// }

.edit-country-form .country-input-field {
      width: 80%;
      height: auto;
      word-wrap: break-word;
      overflow-y: auto;
}

.edit-country-form .btn {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.country-input-field {
  font-weight: bold;
}
