<div
  data-controller="map"
  data-map-token-value="<%= Rails.application.credentials.dig(:mapbox, :api_key) %>"
  data-map-iso-value="<%= @country.iso_code %>"
  style="height: 500px; width: 100%;"
  data-turbo="false"
></div>
