.navbar {
  position: absolute;   // or fixed
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  transition: 0.2s ease;

  &.is-active {
    opacity: 0.6;
  }
}

.brand-logo {
  width: 30px;
  cursor: pointer;
}
