.navbar {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 65%;
  z-index: 10;
}

.navbar-brand {
  transition: 0.2s ease;

  &.is-active {
    opacity: 0.6;
  }
}

.brand-logo {
  width: 30px;
  cursor: pointer;
}
