<div class="map-container">
<div
  data-controller="map"
  data-map-token-value="<%= Rails.application.credentials.dig(:mapbox, :api_key) %>"
  style="height: 500px; width: 75%;"
  data-turbo="false"
></div>
<body data-turbo="false"></body>

<div id="sidebar"
style= width: 25%></div>
</div>
