<div class="d-flex">
<div
  data-controller="map"
  data-map-token-value="<%= Rails.application.credentials.dig(:mapbox, :api_key) %>"
  style="height: 500px; width: 80%;"
  data-turbo="false"
></div>

<div id="sidebar"></div>
</div>
