<div class="map-container" style="display: flex; height: 625px;">

  <div data-controller="map"
       data-map-token-value="<%= Rails.application.credentials.dig(:mapbox, :api_key) %>"
       data-turbo="false"
       style="width: 65%;">

    <!-- Empty Mapbox container needed to work (was causing errors previously) -->
    <div data-map-target="container"
         style="height: 100%; width: 100%;"></div>

  </div>

  <div id="sidebar"
       data-turbo="false"
       style="width: 35%; overflow-y: auto;">
  </div>

</div>
