<div
  data-controller="map"
  data-map-token-value="<%= Rails.application.credentials.dig(:mapbox, :api_key) %>"
  style="height: 500px; width: 100%;"
  data-turbo="false"
></div>

<div id="sidebar"></div>
